//
//  Secrets..xcconfig
//  BebaAgua
//
//  Created by Kleyson Tavares on 09/08/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

WEATHER_API_KEY = 1d8455a911fc41eeaed00606250508
